.maincontacto__formulario .btn-primary, .maincontacto__formulario .btn-primary:active, .maincontacto__formulario .btn-primary:visited, .mainblog__contenedor .card .botonCard .btn-primary, .mainblog__contenedor .card .botonCard .btn-primary:active, .mainblog__contenedor .card .botonCard .btn-primary:visited {
  background-color: #868585 !important;
  border: #868686 !important; }

.maincontacto__formulario .btn-primary:hover, .mainblog__contenedor .card .botonCard .btn-primary:hover {
  background-color: steelblue !important;
  border: steelblue !important; }

* {
  margin: 0;
  padding: 0; }

/* Header */
.header__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  padding: 0rem;
  margin: 0rem;
  line-height: normal; }
  .header__contenedor .header__izquierda {
    grid-area: 1 / 1 / 2 / 2;
    padding: .5rem; }
    .header__contenedor .header__izquierda img:hover {
      transform: skewX(15deg); }
    .header__contenedor .header__izquierda a:hover {
      margin: 0rem; }
  .header__contenedor .header__derecha {
    grid-area: 1 / 2 / 2 / 5;
    text-align: right;
    align-self: center; }
  .header__contenedor .header__menu ul {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem; }
    .header__contenedor .header__menu ul li {
      display: inline-block;
      position: relative; }
      .header__contenedor .header__menu ul li a {
        color: white;
        text-decoration: none;
        padding: 0rem 0.5rem; }
      .header__contenedor .header__menu ul li a:hover {
        color: black;
        background-color: #e9e9e9;
        padding: 0rem 0.5rem; }
    .header__contenedor .header__menu ul li:hover ul {
      display: block;
      background-color: black;
      padding: 0rem;
      line-height: normal;
      z-index: 6666; }
    .header__contenedor .header__menu ul ul {
      position: absolute;
      display: none; }
      .header__contenedor .header__menu ul ul li {
        display: block;
        margin: .5rem;
        font-size: .85rem;
        text-align: left;
        width: 9.8rem; }

/* Footer */
.footer__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  padding: 1rem;
  font-size: 12.8px; }
  .footer__contenedor p {
    color: #b4b4b4; }
  .footer__contenedor a:link, .footer__contenedor a:visited, .footer__contenedor a:active {
    text-decoration: none;
    color: #b4b4b4; }
  .footer__contenedor a:hover {
    text-decoration: underline;
    color: #b4b4b4; }
  .footer__contenedor .footer__izquierda {
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    margin-bottom: 1rem; }
    .footer__contenedor .footer__izquierda ul {
      list-style-type: none;
      padding: 0rem;
      margin-bottom: 0rem;
      line-height: 1rem; }
  .footer__contenedor .footer__centro {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    margin-bottom: 1rem;
    line-height: 1rem; }
    .footer__contenedor .footer__centro .linkFooter {
      color: #b4b4b4; }
  .footer__contenedor .footer__derecha {
    grid-area: 1 / 6 / 2 / 7;
    display: grid;
    grid-column: 1fr;
    text-align: right; }
    .footer__contenedor .footer__derecha img {
      width: 5rem; }
    .footer__contenedor .footer__derecha .footer__redes {
      grid-area: 1 / 1 / 2 / 2; }
    .footer__contenedor .footer__derecha .footer__byMott {
      grid-area: 2 / 1 / 3 / 2;
      align-self: flex-end; }
      .footer__contenedor .footer__derecha .footer__byMott .footer__byMott2 {
        font-size: 9.6px; }

/* General */
html {
  font-family: 'Roboto', sans-serif;
  background-color: black; }

main {
  background-color: #e9e9e9; }

/* Index */
.maininicio__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: .3rem .3rem;
  grid-auto-flow: row;
  grid-auto-rows: auto; }
  .maininicio__contenedor .maininicio__texto1 {
    grid-area: 1 / 1 / 2 / 3;
    text-align: left;
    padding: .5rem;
    margin-top: 1rem; }
    .maininicio__contenedor .maininicio__texto1 h1 {
      padding: auto;
      margin-bottom: 1rem; }
    .maininicio__contenedor .maininicio__texto1 h2 {
      color: #636363;
      padding: auto;
      margin-bottom: 1rem; }
  .maininicio__contenedor .maininicio__imagen1 {
    grid-area: 1 / 3 / 2 / 5;
    text-align: center;
    padding: .5rem;
    margin-top: 1rem; }
  .maininicio__contenedor .maininicio__imagen2 {
    grid-area: 2 / 1 / 3 / 5;
    margin: 0;
    width: 100%;
    background-image: url("../img/worker.jpg");
    background-repeat: no-repeat;
    background-size: cover; }
  .maininicio__contenedor .maininicio__texto2 {
    grid-area: 2 / 3 / 3 / 5;
    text-align: left;
    padding: .5rem; }
    .maininicio__contenedor .maininicio__texto2 p {
      margin: 5%;
      font-size: 24px;
      font-weight: bold;
      color: white; }
    .maininicio__contenedor .maininicio__texto2 .maininicio__fuente {
      font-size: 16px; }
  .maininicio__contenedor .maininicio__contacto {
    grid-area: 3 / 1 / 4 / 5;
    margin-top: 2rem;
    margin-bottom: 0rem; }
    .maininicio__contenedor .maininicio__contacto p {
      text-align: center;
      font-size: 24px; }
  .maininicio__contenedor .maininicio__contacto2 {
    grid-area: 4 / 1 / 5 / 5;
    margin-top: 0rem;
    margin-bottom: 2rem; }
    .maininicio__contenedor .maininicio__contacto2 p {
      text-align: center; }
    .maininicio__contenedor .maininicio__contacto2 img {
      text-align: center;
      width: 10rem; }

/* Servicios */
.mainservicios__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .mainservicios__contenedor .mainservicios__service {
    flex-basis: 30%;
    text-align: center;
    margin: 1.5rem;
    padding: 0.0rem;
    border: .00rem solid;
    background-color: white; }
    .mainservicios__contenedor .mainservicios__service .mainservicios__parrafo {
      text-align: left;
      font-size: 16px;
      padding: 0rem 1rem 1rem 1rem;
      margin-top: 0.4rem;
      line-height: 1.4rem; }
    .mainservicios__contenedor .mainservicios__service .mainservicios__imagen {
      width: 100%; }

/* Nosotros */
.mainnosotros__contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  padding-top: unset;
  align-items: center; }
  .mainnosotros__contenedor .mainnosotros__marco {
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 50%;
    margin: 1rem;
    background-color: white;
    align-items: stretch; }
    .mainnosotros__contenedor .mainnosotros__marco div {
      margin: 0rem;
      width: 90%;
      text-align: left; }
    .mainnosotros__contenedor .mainnosotros__marco .mainnosotros__imagen {
      width: 100%; }
      .mainnosotros__contenedor .mainnosotros__marco .mainnosotros__imagen img {
        height: 100%;
        width: 100%; }
    .mainnosotros__contenedor .mainnosotros__marco .mainnosotros__texto {
      padding: 1rem; }
    .mainnosotros__contenedor .mainnosotros__marco p {
      margin-top: 1rem;
      line-height: 1.4rem; }

/* Contacto */
.maincontacto__titulo h1 {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  padding-top: unset;
  font-size: 1.1rem; }

.maincontacto__formulario {
  padding-top: 1rem; }
  .maincontacto__formulario .col-md-12 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important; }
  .maincontacto__formulario .maincontacto__mapa {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem; }

/* Blog */
.breadcrumb {
  margin-left: 0.5rem; }
  .breadcrumb a:link, .breadcrumb a:visited, .breadcrumb a:active {
    text-decoration: none;
    color: #6c757d; }
  .breadcrumb a:hover {
    text-decoration: underline; }

.mainblog__contenedor {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  padding-bottom: 1rem;
  padding-top: 1rem; }
  .mainblog__contenedor img {
    width: 18rem;
    height: 12rem; }
  .mainblog__contenedor .card {
    margin-right: 1rem;
    margin-bottom: 1rem; }
    .mainblog__contenedor .card .card-body {
      display: grid; }
    .mainblog__contenedor .card .card-body-cuerpo {
      grid-area: 1 / 1 / 2 / 2; }
    .mainblog__contenedor .card .botonCard {
      grid-area: 2 / 1 / 3 / 2;
      align-self: end;
      padding-top: 1rem; }

/* 404 */
.main404__contenedor {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: stretch; }
  .main404__contenedor div {
    padding: 1rem;
    max-width: 40%;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .main404__contenedor div a:link, .main404__contenedor div a:visited, .main404__contenedor div a:active {
      text-decoration: none;
      color: black; }
    .main404__contenedor div a:hover {
      text-decoration: underline;
      color: black; }
    .main404__contenedor div h1 {
      margin-bottom: 1rem; }
    .main404__contenedor div p {
      padding: 0rem;
      line-height: 1.5rem; }

@media (min-width: 701px) and (max-width: 910px) {
  .maininicio__contenedor .maininicio__texto1 {
    font-size: .8rem; }
  .maininicio__contenedor .maininicio__imagen1 {
    margin-top: .2rem; }
  .maininicio__contenedor .maininicio__texto2 p {
    font-size: 19.2px; }
  .maininicio__contenedor .maininicio__texto2 .maininicio__fuente {
    font-size: 16px; }
  .maininicio__contenedor .maininicio__contacto p {
    font-size: 19.2px; }
  .maininicio__contenedor .maininicio__contacto2 img {
    width: 9rem; }
  .mainservicios__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .mainservicios__contenedor .mainservicios__service {
      flex-basis: 70%;
      text-align: center; }
  .mainnosotros__contenedor .mainnosotros__marco {
    display: flex;
    flex-direction: column;
    width: 60%; }
    .mainnosotros__contenedor .mainnosotros__marco .mainnosotros__imagen {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: unset; }
    .mainnosotros__contenedor .mainnosotros__marco .mainnosotros__texto p {
      font-size: 16px; }
  .mainblog__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr; } }

@media (min-width: 0px) and (max-width: 700px) {
  .header__contenedor .header__derecha .header__menu ul li {
    display: block;
    font-size: 12.8px; }
  .header__contenedor .header__derecha .header__menu ul ul li {
    display: none; }
  .footer__contenedor {
    grid-template-columns: 1fr; }
    .footer__contenedor .footer__izquierda {
      grid-area: 1 / 1 / 2 / 2;
      text-align: left; }
    .footer__contenedor .footer__centro {
      grid-area: 2 / 1 / 3 / 2;
      text-align: left; }
    .footer__contenedor .footer__derecha {
      grid-area: 3 / 1 / 4 / 2;
      text-align: left; }
  .maininicio__contenedor {
    grid-template-columns: 1fr; }
    .maininicio__contenedor .maininicio__imagen1 {
      grid-area: 1 / 1 / 2 / 2;
      padding: 1rem .5rem 0rem .5rem;
      margin-top: .2rem; }
    .maininicio__contenedor .maininicio__texto1 {
      grid-area: 2 / 1 / 3/ 2;
      padding: 0rem 1rem 1rem 1rem; }
      .maininicio__contenedor .maininicio__texto1 h1 {
        padding: auto;
        margin-bottom: 1rem;
        font-size: 22.4px; }
      .maininicio__contenedor .maininicio__texto1 h2 {
        color: #636363;
        padding: auto;
        margin-bottom: 1rem;
        font-size: 19.2px; }
    .maininicio__contenedor .maininicio__imagen2 {
      grid-area: 3 / 1 / 4 / 2; }
    .maininicio__contenedor .maininicio__texto2 {
      grid-area: 3 / 1 / 4 / 2;
      padding: 1rem; }
      .maininicio__contenedor .maininicio__texto2 p {
        font-size: 19.2px; }
      .maininicio__contenedor .maininicio__texto2 .maininicio__fuente {
        font-size: 14.4px; }
    .maininicio__contenedor .maininicio__contacto {
      grid-area: 4 / 1 / 5 / 2;
      margin-top: 2rem;
      margin-bottom: 0rem;
      padding: .5rem; }
      .maininicio__contenedor .maininicio__contacto p {
        font-size: 19.2px; }
    .maininicio__contenedor .maininicio__contacto2 {
      grid-area: 5 / 1 / 6 / 2;
      margin-top: 0rem;
      margin-bottom: 2rem; }
      .maininicio__contenedor .maininicio__contacto2 p img {
        width: 8rem; }
  .mainservicios__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
    .mainservicios__contenedor .mainservicios__service {
      flex-basis: 70%;
      text-align: center; }
      .mainservicios__contenedor .mainservicios__service p {
        font-size: 13.6px; }
  .mainnosotros__contenedor .mainnosotros__marco {
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: stretch; }
    .mainnosotros__contenedor .mainnosotros__marco .mainnosotros__texto p {
      font-size: 14.4px; }
  .mainblog__contenedor {
    display: grid;
    grid-template-columns: 1fr; }
  .main404__contenedor div {
    max-width: unset; } }
