/* Nosotros */

.mainnosotros__contenedor {
  @include flex(flex,column,center,wrap);
  padding: 1rem;
  padding-top: unset;
  align-items: center;
  .mainnosotros__marco {
    display: flex;
    flex-direction: row;
    align-items: top;
    width: 50%;
    margin: 1rem;
    background-color: white;
    align-items: stretch;
    div {
      margin: 0rem;
      width: 90%;
      text-align: left
    }
    .mainnosotros__imagen {
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .mainnosotros__texto {
      padding: 1rem;
    }
    p {
      margin-top: 1rem;
      line-height: 1.4rem;
    }
  }
}